.container1{
    width:1440px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 165px;
}

@media only screen and (max-width:'1250px') {
    .container1{
        width: 1250px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 40px;
    }
}

@media only screen and (max-width:'768px') {
    .container1{
        width: 768px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 40px;
    }
}
@media only screen and (max-width:'375px') {
    .container1{
        width:375px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 40px;
    }
}
